.spacer {
  flex: 1 1 auto;
}

.mat-mdc-button {
  font-weight: 500;
}

.verified-badge {
  color: #1d9bf0 !important;
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
  margin-left: 4px;
  display: inline-block;
  line-height: 1;
}

button[mat-button] {
  display: inline-flex;
  align-items: center;
}

.user-button ::ng-deep .mat-mdc-button-touch-target {
  display: none; 
}

.user-button {
  display: inline-flex !important;
  align-items: center !important;
  gap: 4px; 
}
.username-text {
  font-weight: 500;
}

.dropdown-icon {
  margin-left: -4px; 
}


.admin-badge, .admin-icon {
  color: #d32f2f !important; 
  vertical-align: middle;
  font-size: 20px;
}

.manager-badge, .manager-icon {
  color: #f9a825 !important; 
  vertical-align: middle;
  font-size: 20px;
}

.verified-badge, .verified-icon {
  color: #1a73e8 !important; 
  vertical-align: middle;
  font-size: 20px;
}

.username-text {
  margin-left: 4px;
  font-weight: 500;
}