.spacer {
  flex: 1 1 auto;
}

.welcome-text {
  margin-right: 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  
  strong {
    margin-left: 5px;
    color: #ffd740; /* Accent color for the name */
  }
}