@use '@angular/material' as mat;

/* Required core styles */
@include mat.core();

/* Material 2 (compatibility) palettes */
$quizify-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$quizify-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

/* Define theme */
$quizify-theme: mat.m2-define-light-theme((
  color: (
    primary: $quizify-primary,
    accent: $quizify-accent,
  )
));

/* Apply theme */
@include mat.all-component-themes($quizify-theme);
